@charset "ISO-8859-1";

fieldset {
	padding: 10cm;
	font: 80% sans-serif;
}

legend {
	font-weight: bold;
	color: #336699
}

label {
	display: inline-block;
	display: inline;
	zoom: 1;
	float: left;
	padding-left: 5px;
	text-align: right;
	width: 140px;
	font-weight: bold;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-left: 20px;
}

h2 {
	color: #336699;
	height: 20px;
}

input[type='submit'] {
	float: left;
	margin-left: 250px;
	margin-top: 25px;
	padding-top: 2pc;
	text-align: right;
	font-weight: bold;
}

div0form {
	width: 60;
}